# Falling Fruit

In [1]:
import pandas as pd
import os

In [2]:
print(os.getcwd())
print(os.listdir())

/Users/peterbenson/Documents/DFG_2023/dfg-seasons
['.DS_Store', 'falling_fruit_lp_climate.ipynb', 'api-scripts', '.gitignore', '.ipynb_checkpoints', '.git', '.vscode', 'data_exploration']

In [10]:
example_path = os.path.join(os.getcwd(), 'example.csv')
ex = pd.read_csv(example_path)

In [13]:
location_path = os.path.join(os.getcwd(), 'data/location_months_in_season.csv')
fruit_path = os.path.join(os.getcwd(), 'data/observation_phenology.csv')

In [12]:
location = pd.read_csv(location_path, low_memory = False)

In [14]:
fruits = pd.read_csv(fruit_path)

In [16]:
fruits.columns

Index(['location_id', 'observation_id', 'lat', 'lng', 'date', 'stage',
       'type_count', 'type_id', 'taxonomic_rank', 'taxonomic_rank_name',
       'en_name', 'scientific_name', 'scientific_synonyms'],
      dtype='object')

In [17]:
location.columns

Index(['location_id', 'start_month', 'end_month', 'type_count', 'type_id',
       'taxonomic_rank', 'taxonomic_rank_name', 'en_name', 'scientific_name',
       'scientific_synonyms'],
      dtype='object')

In [27]:
fruits.head()

,location_id,observation_id,lat,lng,date,stage,type_count,type_id,taxonomic_rank,taxonomic_rank_name,en_name,scientific_name,scientific_synonyms
0,1764646,43121,30.312322,-97.724329,2020-05-20,unripe fruit,1,93,8,species,Pecan,Carya illinoinensis,NaN
1,1762703,42400,-41.434854,147.156620,2020-03-06,ripe fruit,1,69,8,species,Quince,Cydonia oblonga,"Cydonia, Cydonia vulgaris"
2,1762705,42401,27.793812,-82.650576,2020-03-07,unripe fruit,1,18,8,species,Loquat,Eriobotrya japonica,NaN
3,1762706,42402,27.753815,-82.705272,2020-03-03,ripe fruit,1,18,8,species,Loquat,Eriobotrya japonica,NaN
4,1762813,42434,47.092503,8.522837,2020-03-13,ripe fruit,1,542,8,species,Wild garlic,Allium ursinum,NaN

## Climate and Season (peter's version) 
*Just like Taylor's version :)*

In [30]:
ff = fruits

In [34]:
# select necessary columns here
ff = ff[['scientific_name', 'lat', 'lng','location_id', 'observation_id', 'date', 'taxonomic_rank', 'en_name']]

# filter out rows to avoid problems when converting to string
ff = ff[ff['scientific_name'].notna()]

ff['lat'] = ff['lat'].apply(float)
ff['lng'] = ff['lng'].apply(float)
ff['scientific_name'] = ff['scientific_name'].apply(str)

In [35]:
ff.head()

,scientific_name,lat,lng,location_id,observation_id,date,taxonomic_rank,en_name
0,Carya illinoinensis,30.312322,-97.724329,1764646,43121,2020-05-20,8,Pecan
1,Cydonia oblonga,-41.434854,147.156620,1762703,42400,2020-03-06,8,Quince
2,Eriobotrya japonica,27.793812,-82.650576,1762705,42401,2020-03-07,8,Loquat
3,Eriobotrya japonica,27.753815,-82.705272,1762706,42402,2020-03-03,8,Loquat
4,Allium ursinum,47.092503,8.522837,1762813,42434,2020-03-13,8,Wild garlic

In [40]:
ff.loc[[13,39, 115, 177, 202]]

# Not the same as Linh's, but 13 is the same? We'll see what happens

,scientific_name,lat,lng,location_id,observation_id,date,taxonomic_rank,en_name
13,Citrus x limon,33.772689,-118.154754,1762515,42279,2020-02-04,8,Lemon
39,Arbutus 'Marina',37.366737,-121.909876,1762364,42413,2020-03-10,9,Marina strawberry tree
115,Citrus x clementina,38.716748,-9.147119,1761877,42009,2019-11-23,8,Clementine
177,Amelanchier,42.781501,-73.693001,1765905,43956,2020-06-20,6,Serviceberry
202,Mangifera,-29.426991,153.274393,1762429,42218,2020-01-16,6,Mango

In [42]:
ff.shape

(22615, 8)

# Climate and Season

In [ ]:
#pip install meteostat

In [28]:
# Import Meteostat library and dependencies
import pandas as pd 
import numpy as np 
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Monthly

In [4]:
ff = pd.read_csv("/Users/linh/Downloads/develop_for_good/falling_fruit.csv", low_memory = False)

In [5]:
ff = ff[['scientific_name','id', 'lat', 'lng','location_id', 'observation_id', 'date', 'taxonomic_rank', 'en_name']]

In [6]:
ff = ff[ff['scientific_name'].notna()]

In [7]:
ff['lat'] = ff['lat'].apply(float)
ff['lng'] = ff['lng'].apply(float)
ff['scientific_name'] = ff['scientific_name'].apply(str)

In [8]:
ff.head()

,scientific_name,id,lat,lng,location_id,observation_id,date,taxonomic_rank,en_name
13,Citrus x limon,107.0,37.409772,-122.136046,107.0,2823.0,2013-12-14,8.0,Lemon
39,Ficus carica,419.0,37.862816,-122.262840,419.0,51054.0,2021-10-03,8.0,Common fig
115,Rubus,495.0,37.871975,-122.262749,495.0,40603.0,2019-07-25,7.0,Blackberry
177,Citrus x limon,557.0,37.856464,-122.267471,557.0,47572.0,2021-01-11,8.0,Lemon
202,Citrus,582.0,37.864990,-122.266190,582.0,47720.0,2021-02-21,7.0,Lime

In [9]:
ff.shape

(25386, 9)

In [47]:
lemon = ClimateData(ff['en_name'].values[0], 
                    ff['scientific_name'].values[0],
                    ff['lat'].values[0], 
                    ff['lng'].values[0],
                    18)

TypeError: __init__() takes 2 positional arguments but 6 were given

In [44]:
class ClimateData:
    "Growing Degree Day setup for each unique fruit"
    
    "Process each row/submission"
    def __init__(self, row): 
        self._i = row 
        self._en_name = ff['en_name'].values[row]
        self._scientific_name = ff['scientific_name'].values[row]
        self._lat = ff['lat'].values[row]
        self._lng = ff['lng'].values[row]
        self._ideal_temp = 18 
        self._location = Point(self._lat, self._lng)
        #making self._climate 
        location = self._location 
        climate = Monthly(location, datetime(2022, 1, 1), datetime(2022, 12, 31))
        climate = climate.fetch()
        climate = climate.reset_index()
        self._climate = climate 
    
#     def __init__(self, en_name, scientific_name, lat, lng, ideal_temp):
#         "Key aspects of fruit given"
#         self._en_name = en_name 
#         self._lat = lat
#         self._lng = lng
#         self._scientific_name = scientific_name
#         self._location = Point(lat, lng)
#         self._ideal_temp = ideal_temp
#         #making self._climate 
#         location = self._location 
#         climate = Monthly(location, datetime(2022, 1, 1), datetime(2022, 12, 31))
#         climate = climate.fetch()
#         climate = climate.reset_index()
#         self._climate = climate 

    def get_lat(self): 
        return self._lat 
    def get_long(self): 
        return self._lng
    def get_scientific_name(self): 
        return self._scientific_name 
    def get_ideal_temp(self): 
        return self._ideal_temp 
    def get_en_name(self): 
        return self._en_name
    def get_climate(self): 
        return self._climate
    
    def get_gdd(self): 
        d = self._climate

        p1 = ['2022-12-01', '2022-01-01', '2022-02-01']
        p2 = ['2022-03-01', '2022-04-01', '2022-05-01']
        p3 = ['2022-06-01','2022-07-01', '2022-08-01']
        p4 = ['2022-09-01', '2022-10-01', '2022-11-01']
        #assign quarters 
        season = []
        for i in range(len(d['time'])): 
            if str(d['time'][i])[0:10] in p1: 
                season.append('p1_12_02')
            elif str(d['time'][i])[0:10] in p2: 
                season.append('p2_03_05')
            elif str(d['time'][i])[0:10] in p3: 
                season.append('p3_06_08')
            elif str(d['time'][i])[0:10] in p4: 
                season.append('p4_09_11')
            else: 
                season.append('NA')
        d['season'] = season 
    
        #groupby and get tavg, tmin, tmax for quarter 
        tavg = d.groupby('season')['tavg'].mean().reset_index().set_index('season').round(1)
        tmin = d.groupby('season')['tmin'].min().reset_index().set_index('season')
        tmax = d.groupby('season')['tmax'].max().reset_index().set_index('season')
        gdd = pd.concat([tavg, tmin, tmax]).reset_index()
        gdd['harvest'] = np.where(gdd['tavg'] > self._ideal_temp, 1,0)
        #sum doesn't actually do anything since it's na values 
        gdd = gdd.groupby(['season']).sum()
        self._gdd = gdd.reset_index()
        return self._gdd